
* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.shutdown-icon{
    background-color: #ff0000;
}

.reboot-icon{
    background-color: #ff0000;
}

.exit-icon{
    background-color: #ff0000;
}

.suspend-icon{
    background-color: #ff0000;
}


.launchbar{
    background: #ffffff;
}

.firefox-icon{
    background: #ff0000;
}

.code-icon{
    background: #ff0000;
}

.pcmanfm-icon{
    background: #ff0000;
}

.dropbox-icon{
    background: #ff0000;
}

.latex-icon{
    background: #ffffff;
}

.music-icon{
    background: #ff0000;
}

.git-icon{
    background: #000000;
}


.gmail-icon{
    background: #ffffff;
}

.sogo-icon{
    background: #ff0000;
}

.gmx-icon{
    background: #ff0000;
}

.arch-icon{
    background: #ffffff;
}

.gimp-icon{
    background: #ffffff;
}
